
# Node
node_modules/
npm-debug.log*
.vercel
.env*.local
cron.log
logs/
gemini_api_key.txt
paypal_credentials.txt
venv/
venv-image-optimization/
venv-*/
__pycache__/
db_credentials.txt
image_conversion.log
database.sql

# Build artifacts
dist/
build/
package-lock.json
