.error-message {
    color: red;
    font-size: 0.8em;
    height: 1.2em;
    display: block;
}

#loading-indicator {
    margin-top: 1.5rem;
    text-align: center;
    font-style: italic;
    color: #aaa;
}

/* A/B Test Variant Styles */
.ab-hero-cta-test-B .button {
    background-color: #28a745; /* Green */
}

.tooltip-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.2rem; /* Adjust spacing between label/tooltip and input */
}

.tooltip-icon {
    color: #007bff;
    cursor: help;
    font-size: 0.9em;
    position: relative;
}

.tooltip-icon::before,
.tooltip-icon::after {
    --scale: 0;
    --tooltip-color: #333;
    --arrow-size: 8px;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: transform 0.2s cubic-bezier(0.3, 0.7, 0.4, 1.5);
    transform-origin: bottom center;
    z-index: 10;
}

.tooltip-icon::before {
    content: attr(title);
    background-color: var(--tooltip-color);
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    width: max-content;
    max-width: 200px;
    font-size: 0.8rem;
    text-align: center;
}

.tooltip-icon::after {
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform: translateX(-50%) translateY(calc(-100% + var(--arrow-size)));
}

.tooltip-icon:hover::before,
.tooltip-icon:hover::after {
    --scale: 1;
}